.header-wrapper {
  display: contents;
}
 
.header-header {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  padding: var(--dl-layout-space-unitandhalf);
  z-index: 1;
  max-width: 1320px;
  align-items: center;
  margin-bottom: 0.75rem;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-navlink1 {
  display: contents;
}
 
.header-heading1 {
  color: var(--dl-color-gray-white);
  font-weight: 700;
  margin-right: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.header-navlink2 {
  display: contents;
}
 
.header-container2 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-layout-space-unit);
  flex-direction: row;
  text-decoration: none;
}
 
.header-icon10 {
  fill: var(--dl-color-gray-900);
  width: 13px;
}
 
.header-text1 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-layout-space-halfunit);
}
 
.header-navlink3 {
  display: contents;
}
 
.header-container3 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-halfunit);
  flex-direction: row;
  text-decoration: none;
}
 
.header-icon12 {
  fill: var(--dl-color-gray-900);
  width: 13px;
}
 
.header-text2 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-layout-space-halfunit);
}
 
.header-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-icon17 {
  width: 24px;
  height: 24px;
}
 
.header-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.header-icon19 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.header-icon21 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.header-icon23 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.header-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-unitandhalf);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
 
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
 
.header-navlink4 {
  display: contents;
}
 
.header-heading2 {
  color: var(--dl-color-secondary-400);
  font-weight: 700;
  margin-right: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.header-close-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-icon25 {
  width: 24px;
  height: 24px;
}
 
.header-mid {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
 
.header-navlink5 {
  display: contents;
}
 
.header-container5 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  flex-direction: row;
  text-decoration: none;
}
 
.header-icon27 {
  fill: var(--dl-color-secondary-400);
  width: 13px;
}
 
.header-text3 {
  color: var(--dl-color-secondary-400);
  margin-left: var(--dl-layout-space-halfunit);
}
 
.header-navlink6 {
  display: contents;
}
 
.header-container6 {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
 
.header-icon29 {
  fill: var(--dl-color-secondary-400);
  width: 13px;
}
 
.header-text4 {
  color: var(--dl-color-secondary-400);
  margin-left: var(--dl-layout-space-halfunit);
}
 
.header-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  align-items: center;
  flex-direction: row;
}
 
.header-icon34 {
  fill: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-layout-space-halfunit);
  margin-right: 0.75rem;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.header-icon36 {
  fill: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.header-icon38 {
  fill: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.headerroot-class-name {
  margin-bottom: 0px;
}
 
@media(max-width: 991px) {
  .header-header {
    max-width: 1320px;
    margin-bottom: var(--dl-layout-space-triplequarter);
  }
  .header-icon19 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon21 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon23 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon34 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon36 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon38 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
 
@media(max-width: 767px) {
  .header-header {
    background-color: var(--dl-color-gray-white);
  }
  .header-heading1 {
    color: var(--dl-color-secondary-400);
  }
  .header-container2 {
    display: none;
  }
  .header-container3 {
    display: none;
  }
  .header-burger-menu {
    display: flex;
  }
  .header-icon17 {
    fill: var(--dl-color-secondary-400);
  }
  .header-container4 {
    display: none;
  }
  .headerroot-class-name {
    margin-bottom: 0px;
  }
}

.counter-wrapper {
  display: contents;
}
 
.counter-container {
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: center;
  flex-direction: column;
}
 
.counter-text1 {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
}
 
.counter-text2 {
  color: var(--dl-color-secondary-500);
}

.counter-wrapper-7mkw {
  display: contents;
}
 
.counter-container1 {
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: center;
  flex-direction: column;
}
 
.counter-text3 {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
}
 
.counter-text4 {
  color: var(--dl-color-secondary-500);
}

.counter-wrapper-0c47 {
  display: contents;
}
 
.counter-container2 {
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: center;
  flex-direction: column;
}
 
.counter-text5 {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
}
 
.counter-text6 {
  color: var(--dl-color-secondary-500);
}

.primary-button-wrapper {
  display: contents;
}
 
.primary-button-container {
  display: flex;
  position: relative;
}
 
.primary-button-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  line-height: 1;
  padding-top: var(--dl-layout-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  text-transform: uppercase;
  background-color: var(--dl-color-pimary-500);
}
 
.primary-button-button:hover {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}
 
.primary-button-button:active {
  background-color: var(--dl-color-pimary-300);
}

.secondary-button-wrapper {
  display: contents;
}
 
.secondary-button-container {
  display: flex;
  position: relative;
}
 
.secondary-button-button {
  color: var(--dl-color-gray-white);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
  transition: 0.3s;
  line-height: 1;
  padding-top: var(--dl-layout-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  text-transform: uppercase;
  background-color: var(--dl-color-secondary-300);
}
 
.secondary-button-button:hover {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}
 
.secondary-button-button:active {
  background-color: var(--dl-color-secondary-100);
}
 
.secondary-buttonroot-class-name {
  margin-top: var(--dl-layout-space-unitandhalf);
}

.footer-wrapper {
  display: contents;
}
 
.footer-container10 {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-900);
}
 
.footer-container11 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-container12 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-text10 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-layout-space-unit);
  font-weight: 600;
}
 
.footer-text12 {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-layout-space-halfunit);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-container13 {
  display: flex;
  margin-top: var(--dl-layout-space-unitandhalf);
  align-items: flex-start;
  flex-direction: row;
}
 
.footer-container14 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.footer-icon1 {
  fill: #37BCF8;
  width: 16px;
  height: 16px;
}
 
.footer-container15 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.footer-icon3 {
  fill: #ea4c89;
  width: 16px;
  height: 16px;
}
 
.footer-container16 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.footer-icon5 {
  fill: #4267B2;
  width: 16px;
  height: 16px;
}
 
.footer-container17 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.footer-icon7 {
  width: 16px;
  height: 16px;
}
 
.footer-container18 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.footer-container19 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 6rem;
  flex-direction: column;
}
 
.footer-text13 {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text14 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text15 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text16 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text17 {
  color: var(--dl-color-secondary-500);
}
 
.footer-container20 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-text18 {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text19 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text20 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text21 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text22 {
  color: var(--dl-color-secondary-500);
}
 
.footer-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-layout-space-tripleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  background-color: #e3e8efff;
}
 
.footer-text23 {
  color: var(--dl-color-secondary-500);
  align-self: center;
}
 
@media(max-width: 991px) {
  .footer-container11 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container12 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-doubleunit);
  }
  .footer-container19 {
    align-items: center;
  }
  .footer-container20 {
    align-items: center;
  }
}
 
@media(max-width: 767px) {
  .footer-text12 {
    text-align: center;
  }
  .footer-container18 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container19 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-doubleunit);
  }
  .footer-container20 {
    align-items: center;
  }
}

.profile-container10 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f2f5f9ff;
}
 
.profile-image1 {
  flex: 0 0 auto;
  width: 100%;
  height: 500px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
}
 
.profile-image2 {
  left: auto;
  right: auto;
  width: 100%;
  bottom: -1px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
}
 
.profile-bg {
  top: auto;
  flex: 0 0 auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  display: flex;
  opacity: 0.5;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
 
.profile-container11 {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  z-index: 100;
  max-width: 1320px;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
  margin-top: -12rem;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius75);
  margin-bottom: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
 
.profile-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: space-around;
}
 
.profile-container13 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.profile-image3 {
  top: -60%;
  left: 0px;
  right: 0px;
  width: 150px;
  bottom: auto;
  margin: auto;
  position: absolute;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
  object-fit: cover;
  border-radius: var(--dl-layout-radius-round);
}
 
.profile-container14 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.profile-container15 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: center;
}
 
.profile-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-layout-space-tripleunit);
  align-items: center;
  margin-bottom: var(--dl-layout-space-tripleunit);
  flex-direction: column;
}
 
.profile-text10 {
  color: var(--dl-color-secondary-300);
}
 
.profile-container17 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.profile-icon10 {
  fill: var(--dl-color-secondary-500);
  width: 18px;
  height: 18px;
}
 
.profile-text11 {
  color: var(--dl-color-secondary-500);
  font-weight: 600;
  margin-left: var(--dl-layout-space-halfunit);
}
 
.profile-container18 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-layout-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.profile-icon12 {
  fill: var(--dl-color-secondary-500);
  width: 18px;
  height: 18px;
}
 
.profile-text12 {
  color: var(--dl-color-secondary-500);
  margin-left: var(--dl-layout-space-halfunit);
}
 
.profile-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.profile-container20 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.profile-icon14 {
  fill: var(--dl-color-secondary-500);
  width: 18px;
  height: 18px;
}
 
.profile-text13 {
  color: var(--dl-color-secondary-500);
  margin-left: var(--dl-layout-space-halfunit);
}
 
.profile-container21 {
  flex: 0 0 auto;
  width: 90%;
  height: 0.5px;
  display: flex;
  opacity: 0.5;
  margin-top: var(--dl-layout-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
 
.profile-text14 {
  width: 75%;
  font-size: 1.125rem;
  text-align: center;
  font-weight: 300;
  line-height: 1.625;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.profile-text15 {
  color: var(--dl-color-secondary-300);
}
 
.profile-text16 {
  color: var(--dl-color-pimary-500);
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
}
 
.profile-text16:hover {
  color: var(--dl-color-pimary-300);
}
 
.profile-link {
  display: contents;
}
 
.profile-container22 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.profile-icon16 {
  width: 24px;
  margin-right: 4px;
}
 
.profile-text19 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 991px) {
  .profile-container12 {
    flex-direction: column;
  }
  .profile-container13 {
    margin-top: var(--dl-layout-space-doubleunit);
    margin-bottom: var(--dl-layout-space-doubleunit);
  }
}
